@page
@model LoginModel
@{
	ViewData["Title"] = "Login";
}

<div class="text-center">
	<form class="authForm" action="/Login" method="post" autocomplete="on" novalidate>

		<label class="authText" for="user">Login</label>
		<input class="authInput" id="user" name="user" type="text" inputmode="email" required />

		<label class="authText" for="password">Password</label>
		<input class="authInput" id="password" name="password" type="password" required />

		<button class="authButton scaleButton" type="submit">Login</button>
		<a class="authAddButton scaleButton" href="/ChangePassword">Forgot password?</a>
		<a class="authAddButton scaleButton" href="/Index">Go back</a>
	</form>
</div>