
:root {
    --BackgroundColor: #F6F6F6;
    --TitleColor: #311E4C;
    --TextColor: black;
    --ButtonColor: #F49B3A;
    --ButtonHoverColor: #311E4C;
    --NavBarColor: #161616;
    --TextHoverColor: white;
    --BackgroundImg: url('../Images/bg.jpg');
}

html {
    font-size: 14px;
    color: #161616;
    font-family: Inter, sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    color: var(--TextColor);
}

body {
    margin-bottom: 60px;
    background-color: var(--BackgroundColor);
}

* {
    transition: all 0.4s ease;
}
.navbar{
    background-color: var(--NavBarColor);
}
    .navbar .nav-link,
    .navbar .navbar-brand {
        color: white !important;
    }
a {
    color: black;
    text-decoration: none;
}

    a:hover {
        color: black;
    }

.scaleButton:hover {
    transform: scale(1.05);
    background: var(--ButtonHoverColor);
    opacity: 0.7;
    color: var(--TextHoverColor);
    border-color: var(--ButtonHoverColor);
}
.startPageContainer {
    padding-top: 100px;
}
.mainTitle {
    font-size: 212px;
    color: white;
}

.mainDescription {
    color: white;
    width: 70%;
}

.mainRegistration {
    margin-top: 18px;
    font-size: 48px;
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--ButtonColor);
}

.mainLogin {
    margin-top: 25px;
    font-size: 36px;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--ButtonColor);
}

.df {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.startPageBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), var(--BackgroundImg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}
/*              Auth            */
.authForm {
    height: 80vh;
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--TitleColor);
}

.authText {
    font-size: 24px;
    font-weight: 500;
}

.authInput {
    font-size: 20px;
    font-weight: 400;
    width: 350px;
    border: 1.5px solid;
    border-radius: 15px;
    padding: 5px 15px;
}

.authButton {
    width: 250px;
    margin-top: 15px;
    font-size: 24px;
    background: white;
    border-radius: 20px;
    padding: 2px;
    background-color: var(--ButtonColor);
}

.authAddButton {
    width: 200px;
    margin-top: 15px;
    font-size: 16px;
    background: white;
    border-radius: 18px;
    padding: 2px;
    background-color: var(--ButtonColor);
}
/*              Main            */
.homeTop {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 400px;
    margin-top: 50px;
}

.homeTopLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: baseline;
}

.homeTitle {
    font-size: 42px;
    font-weight: 500;
}

.homeText {
    font-size: 30px;
}

.homeButton {
    font-size: 36px;

    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    background-color: var(--ButtonColor);
}

.homeTopRight {
    width: 30%;
    border: 2px solid;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeStats {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.homeStat {
    margin: 10px 0 0 0;
    width: 80px;
    height: 80px;
    border: 1.5px solid;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.homeStatText {
    margin: 20px 0 0 0;
    font-size: 24px;
}

.homeBott {
    padding: 30px 5%;
    text-align: left;
}

.homeTrains {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.homeTrain {
    margin: 10px 0 0 0;
    width: 15%;
    aspect-ratio: 1 / 1;
    border: 1.5px solid;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
/*              Workout             */
.workoutTop {
    height: 350px;
    display: flex;
    justify-content: space-around;
}

    .workoutTop * {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .workoutTop * * {
            border: 2px solid;
            height: 40%;
            width: 100%;
            display: flex;
            justify-content: center;
            border-radius: 30px;
            padding: 0 20px;
        }

.workoutTopLeft {
    text-align: left;
}

.workoutTopRight {
    text-align: right;
    align-items: flex-end;
}

.workoutTitle {
    font-size: 36px;
    font-weight: 500;
}

.workoutText {
    font-size: 24px;
    width: 100%;
    height: 40%;
}

.scroll {
    overflow-y: scroll;
    display: block;
}

.workoutBott {
    border: 2px solid;
    margin: 1% 5%;
    border-radius: 50px;
}

.workoutListTitle {
    font-size: 72px;
}

.workoutItems {
}

.workoutItem {
    display: flex;
    justify-content: space-around;
}

.workoutItemStat {
    margin: 20px 0;
    border: 1.5px solid;
    width: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/*          CreateWorkout           */

.createWorkoutForm {
    height: 80vh;
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.createWorkoutLabel {
    font-size: 44px;
    color: var(--TitleColor);
    font-weight: 500;
}
.createWorkoutInput {
    font-size: 20px;
    font-weight: 400;
    width: 350px;
    border: 1.5px solid;
    border-radius: 15px;
    padding: 5px 15px;
}
.createWorkoutForm .form-group{
    font-size: 22px;
    margin: 20px 0;
}
.createWorkoutButton {
    width: 300px;
    margin-top: 15px;
    font-size: 36px;
    background: white;
    border-radius: 20px;
    padding: 0 20px;
    background-color: var(--ButtonColor);
}

/*              AddTrains           */

.AddExerciseTitle{
    color:var(--TitleColor);
    font-size: 60px;
    margin: 2% 4%
}
.addExerciseForm{
    margin: 0 4%;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 50vh;
}
.AddExerciseFormGroup{
    width: 100%;
}
.AddExerciseLabel {
    color: var(--TitleColor);
    font-size: 50px;
}
.AddExerciseInput {
    width: 100%;
    height: 50px;
    font-size:30px;
    padding: 10px;
    border-radius: 30px;
}
.addExerciseButtons{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0;
}
.AddExerciseButton{
    width:350px;
    padding: 20px;
    background-color: var(--ButtonColor);
    border-radius: 30px;
    font-size: 30px;
}
.AddExerciseLabelRadio {
    font-size: 40px;
    margin: 20px 10px 20px 50px;
}
.AddExerciseInputRadio {
    width: 20px;
    height: 20px;
}
.userProfileContainer{
    width: 92%;
    margin: 2% 4%;
    height: 1100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.userProfileCustoms{
    height: 250px;
    display: flex;
}
.userProfileNameBlock {
    width: 100%;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}
.userProfileName {
    font-size: 64px;
    color: var(--TitleColor);
}
.userProfileEditButton{
    width:400px;
    border: 1px solid;
    font-size: 50px;
    padding: 30px;
    height:fit-content;
    text-align: center; 
    background-color: var(--ButtonColor);
    border-radius: 30px;    

}
.userProfileAchivmentBlock {
    height: 20%;
    border: 2px solid;
    border-radius: 60px;
    padding: 20px;
}
.userProfileLastTrains {
    height: 300px;
    border: 2px solid;
    border-radius: 60px;
    padding: 20px;
}
.userProfileComments {
    border: 2px solid;
    border-radius: 60px;
    padding: 20px;
    font-size: 72px;
    text-align: center;
}
.userProfileAvatarBlock{
    width: 300px;
    border: 2px solid;
}
.avatarImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.userProfileAchivmentTitle, .userProfileTrainsTitle {
    font-size: 40px;
    color: var(--TitleColor);
}
.userProfileTrains {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.userProfileTrain {
    margin: 10px 0 0 0;
    width: 160px;
    aspect-ratio: 1 / 1;
    border: 1.5px solid;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/*              UserItems               */

.UserItemsContainer{
    width:92%;
    margin: 2% 4%;

}
.UserItemsBlock{

}
.UserItemsTitle{
    font-size: 72px;
    color: var(--TitleColor);
}
.UserItems {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 220px;
}
.UserItem{
    width: 200px;
    height: 200px;
    object-fit:cover;
    margin-right:30px;
}

/*              OpenCase                 */

.roulette-wrapper {
    position: relative;
    width: 800px; /* така ж ширина, як у контейнера */
    margin: 30px auto;
}

    /* Червона лінія-маркер, як у прикладі */
    .roulette-wrapper:before {
        content: "";
        position: absolute;
        border: none;
        z-index: 5;
        width: 4px;
        height: 100%;
        left: 50%; /* Рівно по центру */
        transform: translateX(-2px); /* центруємо саму лінію */
        background: #d16266;
        border-radius: 2px;
    }

.roulette-container {
    width: 100%; /* 800px */
    overflow: hidden;
    border: 2px solid #444;
    border-radius: 8px;
    background: #1a1a1a;
    height: 140px; /* Збільшимо висоту для бордюрів */
    box-sizing: border-box;
}

#roulette-strip {
    display: flex;
    /* transition заберемо звідси і будемо додавати через JS */
}

.item {
    width: 120px;
    height: 120px; /* робимо квадратним */
    margin: 6px;
    text-align: center;
    color: #eee;
    background: #2a2a2a;
    border: 1px solid #555;
    border-radius: 5px;
    box-sizing: border-box; /* Важливо для розрахунків */
    flex-shrink: 0; /* Забороняємо стискання */
}

    .item img {
        width: 90px;
        height: 90px;
        margin-top: 5px;
    }

    .item p {
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0 5px;
    }

/* Стилі для рідкісності (номери з твого enum ItemRarity: 
  Common=0, Uncommon=1, Rare=2, Epic=3, Legendary=4
*/
.rarity-0 {
    border-bottom: 4px solid #9d9d9d;
}
/* Common */
.rarity-1 {
    border-bottom: 4px solid #6a9649;
}
/* Uncommon */
.rarity-2 {
    border-bottom: 4px solid #4b69ff;
}
/* Rare */
.rarity-3 {
    border-bottom: 4px solid #d32ce6;
}
/* Epic */
.rarity-4 {
    border-bottom: 4px solid #eb4b4b;
}
/* Legendary */


/* Стилі модального вікна (залишаються твої) */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.hidden {
    display: none;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #1a1a1a;
}

/* Start page (Home)*/

.start-page-section {
    position: relative;
    padding: 200px 0px;
    background-image: linear-gradient( 103deg, rgba(18, 18, 17, 0) 0%, rgba(18, 18, 17, 0.4) 50%, rgba(18, 18, 17, 0.75) 85%, rgba(18, 18, 17, 0.9) 100% ), url("/Images/startPageCover.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}