@{
    ViewData["Title"] = "Home";
}
<div class="text-center">

    <div class="homeTop">
        <div class="homeTitle">LEVEL 1</div>

        <div class="progressBarContainer">
            <div class="progressBarFill" style="width: 30%;"></div>
        </div>
        <div class="homeXPText">150 / 500 XP</div>

        <div class="homeText">Keep going strong!</div>

        <div class="homeButtonContainer">
            <a class="homeButton scaleButton" href="/CreateWorkout/CreateWorkout">Create new workout</a>
            <a class="homeButton scaleButton" href="/WorkoutsFeed">Workouts</a>
        </div>
    </div>

    <div class="homeBott">
        <h2 class="homeTitle">My last trainings</h2>
        <div class="homeTrains">
            <a class="homeTrain" href="/Workout">98%</a>
            <a class="homeTrain" href="/Workout">34%</a>
            <a class="homeTrain" href="/Workout">24%</a>
            <a class="homeTrain" href="/Workout">55%</a>
        </div>
    </div>

</div>