@{
    ViewData["Title"] = "Main";
}
<div class="text-center">
    <div class="homeTop">
        <div class="homeTopLeft">
            <div class="homeTitle">LEVEL 1</div>
            <div class="homeText"></div>
            <a class="homeButton scaleButton" href="/CreateWorkout/CreateWorkout">Create new workout</a>
        </div>
        <div class="homeTopRight">
            <div class="homeStats">
                <div class="homeStat">98%</div>
                <div class="homeStat">34%</div>
                <div class="homeStat">24%</div>
                <div class="homeStat">55%</div>
            </div>
            <div class="homeStatText"></div>
        </div>
    </div>

    <div class="homeBott">
        <h2 class="homeTitle">My last trainings</h2>
        <div class="homeTrains">
            <a class="homeTrain" href="/Workout">98%</a>
            <a class="homeTrain" href="/Workout">34%</a>
            <a class="homeTrain" href="/Workout">24%</a>
            <a class="homeTrain" href="/Workout">55%</a>
        </div>
    </div>

</div>