@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div class="startPageBg"></div>
    <div class="df startPageContainer"><h1 class="mainTitle">@Localizer["MainTitle"]</h1>
    <h3 class="mainDescription">@Localizer["MainDescription"]</h3>

    <a class="mainRegistration scaleButton" href="/Register">@Localizer["GetStarted"]</a>
    <a class="mainLogin scaleButton" href="/Login">@Localizer["AlreadyRegistered"]</a>

</div>
