@{
    ViewData["Title"] = "Start";
}
<div class="startPageBg"></div>
<div class="df startPageContainer">
    <h1 class="mainTitle">GYMIFY</h1>
    <h3 class="mainDescription">
        Staying strong, getting XP.</h3>
    <a class="mainRegistration scaleButton" href="/Register">GET STARTED</a>

    <a class="mainLogin scaleButton" href="/Login">ALREADY REGISTERED</a>
</div>