@{
    ViewData["Title"] = "Home";
}

<h2>Admin Dashboard</h2>

<p>Вітаю в адмін панелі 🎛</p>
<ul>
    <li><a asp-controller="Admin" asp-action="CommentPanel">MOD Comments</a></li>
    <li><a asp-controller="Admin" asp-action="ExercisePanel">MOD Exercises</a></li>
    <li><a asp-controller="Admin" asp-action="UserPanel">Manage Users</a></li>
    <li><a asp-controller="Admin" asp-action="WorkoutPanel">Workouts</a></li>
</ul>
