@page
@model FirstModel
@{
ViewData["Title"] = "First";
}
<div class="text-center">
    <div>
        <div>
            <div>LEVEL 1</div>
            <div>—ÔÓ‚≥˘ÂÌÌˇ</div>
            <a href="/CreateWorkout">Create new workout</a>
        </div>
        <div>
            <div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>ﬂ ¿—‹ —“¿“»—“» ¿ «¿ Ã≤—ﬂ÷‹</div>
        </div>
    </div>

    <div>
        <h2>My last trainings</h2>
        <div>
            <a><img>a</a>
            <a><img>a</a>
            <a><img>a</a>
            <a><img>a</a>
        </div>
    </div>
    
</div>
