@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Роженюк Максим, Побережний Микола, Триняк Максим</h1>
    <h1 class="display-4">ІПЗ-23-1</h1>
    <h1 class="display-4">Gymify – Gamified Workout Tracking Website</h1>
</div>
