@page
@model WorkoutModel
@{
    ViewData["Title"] = "Workout";
}
<div class="text-center">
    <div>
        <div>Назва трені</div>
        <div>Статистика</div>
    </div>

    <div>
        <div style="width:250px;height:60px;overflow-y:scroll;border:1px solid black;margin:5px;">
            Юзер описав своє тренування<br>
            Тут довгий текст...<br>
            Ще рядок...<br>
            Ще...<br>
            І ще...
        </div>

        <div style="width:250px;height:60px;overflow-y:scroll;border:1px solid black;margin:5px;">
            Юзер зробив висновки<br>
            Багато тексту...<br>
            Ще один рядок<br>
            Ще текст<br>
            Ще...
        </div>
    </div>

    <div>
        <h2>Список вправ</h2>
        <div>Жим</div>
        <div>60кг</div>
        <div>8x3</div>
        <div>+100 хп</div>
    </div>
    
</div>
