@page
@model WorkoutModel
@{
	ViewData["Title"] = "Workout";
}
<div class="text-center">
	<div class="workoutTop">
		<div class="workoutTopLeft">
			<div class="workoutTitle">Назва трені</div>
			<div class="workoutText">Статистика</div>
		</div>
		<div class="workoutTopRight">
			<div class="workoutText scroll"">
				Юзер описав своє тренування<br>
				Тут довгий текст...<br>
				Ще рядок...<br>
				Ще...<br>
				І ще...
			</div>
			<div class="workoutText scroll"">
				Юзер зробив висновки<br>
				Багато тексту...<br>
				Ще один рядок<br>
				Ще текст<br>
				Ще...
			</div>
		</div>
	</div>

	<div class="workoutBott">
		<h2 class ="workoutListTitle">Список вправ</h2>
		<div class="workoutItems">
			<div class="workoutItem">
				<div class="workoutItemStat">Жим</div>
				<div class="workoutItemStat">60кг</div>
				<div class="workoutItemStat">8x3</div>
				<div class="workoutItemStat">+100 хп</div>
			</div>
			<div class="workoutItem">
				<div class="workoutItemStat">Жим</div>
				<div class="workoutItemStat">60кг</div>
				<div class="workoutItemStat">8x3</div>
				<div class="workoutItemStat">+100 хп</div>
			</div>
		</div>
	</div>

</div>
