@{
    ViewData["Title"] = "UserProfile";
}
<div class="userProfileContainer">
    <div class="userProfileCustoms">
        <div class="userProfileAvatarBlock">
            <img src="~/Images/clashRoyaleIcon.jpg" alt="Alternate Text" />
        </div>

        <div class="userProfileNameBlock">
            <div class="userProfileName">Name</div>
            <a class="userProfileEditButton scaleButton">Edit</a>
        </div>
    </div>

    <div class="userProfileAchivmentBlock">
        <h2 class="userProfileAchivmentTitle">Achivments</h2>

        <div class="userProfileAchivments">
            <img class="userProfileAchivment" src=""/>
            <img class="userProfileAchivment" src=""/>
            <img class="userProfileAchivment" src=""/>
            <img class="userProfileAchivment" src=""/>
            <img class="userProfileAchivment" src=""/>
            <img class="userProfileAchivment" src=""/>
        </div>
    </div>

    <div class="userProfileLastTrains">
        <h2 class="userProfileTrainsTitle">My last trainings</h2>

        <div class="userProfileTrains">
            <a class="userProfileTrain" href="/Workout">98%</a>
            <a class="userProfileTrain" href="/Workout">34%</a>
            <a class="userProfileTrain" href="/Workout">24%</a>
            <a class="userProfileTrain" href="/Workout">55%</a>
        </div>
    </div>

    <div class="userProfileComments">
        Comments Soon...
    </div>
</div>