@model Gymify.Application.DTOs.Workout.CreateWorkoutRequestDto;

@{
    ViewData["Title"] = "CreateWorkout";
}

<form asp-action="GenerateWorkout" method="post" class="createWorkoutForm">
    <label asp-for="Name" class="createWorkoutLabel " >Workout name</label>
    <input asp-for="Name" class="createWorkoutInput" required />

    <label asp-for="Description" class="createWorkoutLabel ">Description</label>
    <input asp-for="Description" class="createWorkoutInput" required />

    <div class="form-group form-check">
        <input asp-for="IsPrivate" class="form-check-input" />
        <label asp-for="IsPrivate" class="form-check-label"></label>
    </div>

    <button type="submit" class="createWorkoutButton scaleButton">Continue</button>
</form>
