@using Gymify.Application.DTOs.UserExercise
@model List<UserExerciseDto>

@{
    ViewData["Title"] = "Add Exercises";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">

            <div class="text-center mb-4">
                <h1 class="display-6">Workout exercises</h1>
                <p class="text-muted">Add exercises, to acomplish workout creation.</p>
            </div>

            <partial name="_ExerciseManager" model="Model" />
        </div>
    </div>
</div>