@model Gymify.Application.DTOs.Workout.CreateWorkoutRequestDto;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Create Workout";
}

<form asp-action="GenerateWorkout" method="post" class="createWorkoutForm">
    <label asp-for="Name" class="createWorkoutLabel">@Localizer["Workout name"]</label>
    <input asp-for="Name" class="createWorkoutInput" required />

    <label asp-for="Description" class="createWorkoutLabel">@Localizer["Description"]</label>
    <input asp-for="Description" class="createWorkoutInput" required />

    <div class="form-group form-check">
        <input asp-for="IsPrivate" class="form-check-input" />
        <label asp-for="IsPrivate" class="form-check-label">@Localizer["IsPrivate"]</label>
    </div>

    <button type="submit" class="createWorkoutButton scaleButton">@Localizer["Continue"]</button>
</form>
