@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="text-center">
    <form class="authForm" action="/ChangePassword" method="post" autocomplete="on" novalidate>
        <h2>Verification code was sended to your email</h2>

        <label class="authText" for="code">Verification code </label>
        <input class="authInput" id="user" name="code" type="text" required />

        <label class="authText" for="password">Enter new password</label>
        <input class="authInput" id="password" name="password" type="password" required />

        <label class="authText" for="confirmPassword">Confirm new password</label>
        <input class="authInput" id="password" name="confirmPassword" type="password" required />

        <button class="authButton scaleButton" type="submit">Change</button>
        <a class="authAddButton scaleButton" href="/Login">Go back</a>
    </form>
</div>