@page
@model WorkoutModel
@{
	ViewData["Title"] = "Workout";
}
<div class="text-center">
	<div class="workoutTop">
		<div class="workoutTopLeft">
			<div class="workoutTitle">asdasdasd</div>
			<div class="workoutText">asdasdasd</div>
		</div>
		<div class="workoutTopRight">
			<div class="workoutText scroll" ">
				asdasdasd<br>
				asdasdasd<br>
				asdasdasd<br>
				asdasdasd<br>
				asdasdasd
			</div>
			<div class="workoutText scroll" ">
				asdasdasd<br>
				asdasdasd<br>
				asdasdasd<br>
				asdasdasd<br>
				asdasdasd
			</div>
		</div>
	</div>

	<div class="workoutBott">
		<h2 class="workoutListTitle">asdasdasd</h2>
		<div class="workoutItems">
			<div class="workoutItem">
				<div class="workoutItemStat">asdasdasd</div>
				<div class="workoutItemStat">60asdasdasd</div>
				<div class="workoutItemStat">8x3</div>
				<div class="workoutItemStat">+100asdasdasd</div>
			</div>
			<div class="workoutItem">
				<div class="workoutItemStat">asdasdasd</div>
				<div class="workoutItemStat">60asdasdasd</div>
				<div class="workoutItemStat">8x3</div>
				<div class="workoutItemStat">+100asdasdasd</div>
			</div>
		</div>
	</div>

</div>