@model Gymify.Application.DTOs.UserExercise.AddUserExerciseToWorkoutRequestDto;

@{
    ViewData["Title"] = "AddTrains";
}
<p>Workout ID: <strong>@ViewBag.WorkoutId</strong></p>
<div>
    <h1 class="AddExerciseTitle">Train №</h1>

    <form asp-action="AddExercise" method="post" class="addExerciseForm">
        <div class="AddExerciseFormGroup">
            <label asp-for="Name" class="AddExerciseLabel ">Choose train</label>
            <input asp-for="Name" class="AddExerciseInput" required/>
        </div>
        <div class="AddExerciseRadio">
            <label asp-for="ExerciseType" class="AddExerciseLabelRadio">Weight</label>
            <input asp-for="ExerciseType" class="AddExerciseInputRadio" type="radio" value="1"/> 

            <label asp-for="ExerciseType" class="AddExerciseLabelRadio">Duration</label>
            <input asp-for="ExerciseType" class="AddExerciseInputRadio" type="radio" value="2"/>
        </div>

        <div class="AddExerciseFormGroup">
            <label asp-for="Weight" class="AddExerciseLabel ">Weight</label>
            <input asp-for="Weight" class="AddExerciseInput" required/>
        </div>

        <div class="AddExerciseFormGroup">
            <label asp-for="Sets" class="AddExerciseLabel ">Sets</label>
            <input asp-for="Sets" class="AddExerciseInput" required/>
        </div>

        <div class="AddExerciseFormGroup">
            <label asp-for="Reps" class="AddExerciseLabel ">Reps</label>
            <input asp-for="Reps" class="AddExerciseInput" required/>
        </div>
        <div class ="addExerciseButtons">
            <button type="submit" valur="end" class="AddExerciseButton scaleButton">End</button>
            <button type="submit" value="add" class="AddExerciseButton scaleButton">Add new exercise</button>
        </div>
    </form>
</div>