@model Gymify.Application.DTOs.Auth.LoginRequestDto

@{
    ViewData["Title"] = "Login";
}
 

<form asp-action="Login" class="authForm" method="post">
    <label asp-for="Email" class="authText">Email</label>
    <input asp-for="Email" class="authInput" required />

    <label asp-for="Password" class="authText">Password</label>
    <input asp-for="Password" class="authInput" required />

    <div class="form-group form-check">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>

    <button type="submit" class="authButton scaleButton">Login</button>
</form>
