@model Gymify.Application.DTOs.Auth.RegisterRequestDto

@{
    ViewData["Title"] = "Register";
}


<form asp-action="Register" method="post" class="authForm">
        <label asp-for="Email" class="authText">Email</label>
        <input asp-for="Email" class="authInput" required />

        <label asp-for="UserName" class="authText">UserName</label>
        <input asp-for="UserName" class="authInput" required />

        <label asp-for="Password" class="authText">Password</label>
        <input asp-for="Password" class="authInput" required />

        <label asp-for="ConfirmPassword" class="authText">ConfirmPassword</label>
        <input asp-for="ConfirmPassword" class="authInput" required />

    <button type="submit" class="authButton scaleButton">Register</button>
</form>
